@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fffafc;
  color: #2f2a35;
  overflow-x: hidden;
}